In [7]:
from pandas import DataFrame
import pandas as pd
x=[a for a in range(100)]
print(x)
#构造一元二次方程，非线性关系
def y_x(x):
    return 2*x**2+4
y=[y_x(i) for i in x]
 
data=DataFrame({'x':x,'y':y})
 
#查看下data的数据结构
data.head()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

   x   y
0  0   4
1  1   6
2  2  12
3  3  22
4  4  36

In [2]:
data.corr()

          x         y
x  1.000000  0.967644
y  0.967644  1.000000

In [3]:
data.corr(method='spearman')

     x    y
x  1.0  1.0
y  1.0  1.0

In [4]:
data.corr(method='kendall')

     x    y
x  1.0  1.0
y  1.0  1.0