In [1]:
SHEET_NAME = 'Sheet1'
FILE_NAME = 'hotel_content.xlsx'
import numpy
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [4]:
import os
path = 'data' + os.sep + FILE_NAME
df_news = pd.read_excel(path, sheet_name=SHEET_NAME)
df_news.head()

,URL,Theam,content
0,https://www.palisociety.com/hotels/seattle/rooms/,adfa,Enjoy more space for the whole crew! Ideal for...
1,https://www.destinationhotels.com/motif-seattl...,adfa,Lovely Accommodations The King Studio The King...
2,https://www.mayflowerpark.com/accommodations/,asd,Lovely Accommodations The Deluxe King Situated...

In [5]:
df_news.shape

(3, 3)

In [27]:
# 将内容转换成 list
content = df_news.content.values.tolist()
print(content[2])

Enjoy more space for the whole crew! Ideal for families and small groups of friends. Book an adjoining Twin & King Studio, Bunk & Deluxe King, Bunk & Full or Bunk & Bunk.  Connecting rooms sleep (up to 4) with extra space and convenience.  Rooms feature oversized desks, sofa, Smeg refrigerator with fully stocked mini bar, wall-mounted 43″ television in each room, complimentary Wi-Fi, in-room safes, oversized windows with natural light, rain shower, Palisociety bathroom amenities, and custom bespoke furniture and artwork.
Lovely Accommodations The King Studio The King Studio rooms have 335 – 415 sq ft of space and feature a King Bed, oversized desk, sofa, Smeg refrigerator with fully stocked mini bar, wall-mounted 43″ television, complimentary Wi-Fi, in-room safe, oversized windows with natural light, double-sinks, rain shower, Palisociety bathroom amenities, and custom bespoke furniture and artwork. Some King Studio rooms feature clawfoot tubs. Accessible rooms are available.
Lovely Accommodations The Deluxe King Situated on our higher floors with partial water views, The Deluxe King rooms span 215 – 260 sq ft and feature a King size bed, work desk, Smeg refrigerator, fully stocked mini bar, wall-mounted 43″ television, complimentary Wi-Fi, laptop compatible in-room safe, oversized windows with natural light, delightful rain shower, Palisociety bathroom amenities, and custom bespoke furniture and artwork. Accessible rooms are available.  Reserve

In [11]:
vectorizer = CountVectorizer()
content_S = []
content_all_hotel = []
for line in content:
    content_all_hotel.append([' '+line])
    vectorizer.fit_transform([line]).todense()
    # 获取词袋模型中的所有词语
    current_segment = vectorizer.get_feature_names()
    # current_segment = jieba.lcut(line)
    if len(current_segment) > 1 and current_segment != '\r\n': #换行符
        content_S.append(current_segment)

In [23]:
content_S[2]

['215',
 '260',
 '43',
 'accessible',
 'accommodations',
 'amenities',
 'and',
 'are',
 'artwork',
 'available',
 'bar',
 'bathroom',
 'bed',
 'bespoke',
 'compatible',
 'complimentary',
 'custom',
 'delightful',
 'deluxe',
 'desk',
 'feature',
 'fi',
 'floors',
 'ft',
 'fully',
 'furniture',
 'higher',
 'in',
 'king',
 'laptop',
 'light',
 'lovely',
 'mini',
 'mounted',
 'natural',
 'on',
 'our',
 'oversized',
 'palisociety',
 'partial',
 'rain',
 'refrigerator',
 'reserve',
 'room',
 'rooms',
 'safe',
 'shower',
 'situated',
 'size',
 'smeg',
 'span',
 'sq',
 'stocked',
 'television',
 'the',
 'views',
 'wall',
 'water',
 'wi',
 'windows',
 'with',
 'work']

In [17]:
df_content=pd.DataFrame({'content_S':content_S})
df_content.head()

                                           content_S
0  [43, adjoining, amenities, an, and, artwork, b...
1  [335, 415, 43, accessible, accommodations, ame...
2  [215, 260, 43, accessible, accommodations, ame...

In [18]:
stopwords=pd.read_csv("stopwords.txt",index_col=False,sep="\t",quoting=3,names=['stopword'], encoding='utf-8')
stopwords.head(20)

               stopword
0                     !
1                     "
2                     #
3                     $
4                     %
5                     &
6                     '
7                     (
8                     )
9                     *
10                    +
11                    ,
12                    -
13                   --
14                    .
15                   ..
16                  ...
17               ......
18  ...................
19                   ./

In [19]:
def drop_stopwords(contents,stopwords):
    contents_clean = []
    all_words = []
    for line in contents:
        line_clean = []
        for word in line:
            if word in stopwords:
                continue
            line_clean.append(word)
            all_words.append(str(word))
        contents_clean.append(line_clean)
    return contents_clean,all_words
    #print (contents_clean)
        

contents = df_content.content_S.values.tolist()    
stopwords = stopwords.stopword.values.tolist()
contents_clean,all_words = drop_stopwords(contents,stopwords)

#df_content.content_S.isin(stopwords.stopword)
#df_content=df_content[~df_content.content_S.isin(stopwords.stopword)]
#df_content.head()

In [20]:
df_content=pd.DataFrame({'contents_clean':contents_clean})
df_content.head()

                                      contents_clean
0  [adjoining, amenities, artwork, bar, bathroom,...
1  [335, 415, accessible, accommodations, ameniti...
2  [215, 260, accessible, accommodations, ameniti...

In [24]:
df_all_words=pd.DataFrame({'all_words':all_words})
df_all_words.head()

   all_words
0  adjoining
1  amenities
2    artwork
3        bar
4   bathroom

In [26]:
words_count=df_all_words.groupby(by=['all_words'])['all_words'].agg({"count":numpy.size})
words_count=words_count.reset_index().sort_values(by=["count"],ascending=False)
words_count.head()

/Users/hiCore/miniconda3/envs/python3.7.3_dev/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

       all_words  count
52  refrigerator      3
46       mounted      3
30       feature      3
36         fully      3
64          smeg      3

In [ ]:

actual_matrix_result = vectorizer.fit_transform([]).todense()
# 该类会统计每个词语的tf-idf权值
transformer = TfidfTransformer()
# 第一个fit_transform是计算tf-idf，第二个fit_transform是将文本转为词频矩阵
tfidf = transformer.fit_transform(actual_matrix_result)