In [1]:
import pandas as pd
from sklearn.decomposition import PCA

In [2]:
prior = pd.read_csv('./csv_data/order_products__prior.csv')

In [3]:
products = pd.read_csv('./csv_data/products.csv')

In [4]:
orders = pd.read_csv('./csv_data/orders.csv')

In [5]:
aisles = pd.read_csv('./csv_data/aisles.csv')

In [6]:
# 打印 prior dataframe 的大小 和 前5行
print("prior size is {}".format(len(prior)))
print("prior size of row is {}".format(prior.shape[0]))
print("prior size of col is {}".format(prior.shape[1]))
prior.head(5)

prior size is 32434489
prior size of row is 32434489
prior size of col is 4

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# 打印 products dataframe 的大小 和 前5行
print("products size is {}".format(len(products)))
print("products size of row is {}".format(products.shape[0]))
print("products size of col is {}".format(products.shape[1]))
products.head(5)

products size is 49688
products size of row is 49688
products size of col is 4

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [8]:
# 打印 orders dataframe 的大小 和 前5行
print("orders size is {}".format(len(orders)))
print("orders size of row is {}".format(orders.shape[0]))
print("orders size of col is {}".format(orders.shape[1]))
orders.head(5)

orders size is 3421083
orders size of row is 3421083
orders size of col is 7

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [9]:
# 打印 aisles dataframe 的大小 和 前5行
print("aisles size is {}".format(len(aisles)))
print("aisles size of row is {}".format(aisles.shape[0]))
print("aisles size of col is {}".format(aisles.shape[1]))
aisles.head(5)

aisles size is 134
aisles size of row is 134
aisles size of col is 2

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [10]:
# 合并四张表到一张表  （用户-物品-类别）
# 通过product_id 合并prior 表products表
after_merge_one = pd.merge(prior, products, on=['product_id', 'product_id'])

In [11]:
# 打印第一次合并后的 dataframe 的大小 和 前5行
print("after merge size is {}".format(len(after_merge_one)))
print("after merge size of row is {}".format(after_merge_one.shape[0]))
print("after merge size of col is {}".format(after_merge_one.shape[1]))
print(after_merge_one.head(5))

after merge size is 32434489
after merge size of row is 32434489
after merge size of col is 7
   order_id  product_id  add_to_cart_order  reordered        product_name  \
0         2       33120                  1          1  Organic Egg Whites
1        26       33120                  5          0  Organic Egg Whites
2       120       33120                 13          0  Organic Egg Whites
3       327       33120                  5          1  Organic Egg Whites
4       390       33120                 28          1  Organic Egg Whites

   aisle_id  department_id
0        86             16
1        86             16
2        86             16
3        86             16
4        86             16

In [12]:
# 合并四张表到一张表  （用户-物品-类别）
after_merge_two = pd.merge(after_merge_one, orders, on=['order_id', 'order_id'])

In [13]:
# 打印第二次合并后的 dataframe 的大小 和 前5行
print("after merge size is {}".format(len(after_merge_two)))
print("after merge size of row is {}".format(after_merge_two.shape[0]))
print("after merge size of col is {}".format(after_merge_two.shape[1]))
print(after_merge_two.head(5))

after merge size is 32434489
after merge size of row is 32434489
after merge size of col is 13
   order_id  product_id  add_to_cart_order  reordered           product_name  \
0         2       33120                  1          1     Organic Egg Whites
1         2       28985                  2          1  Michigan Organic Kale
2         2        9327                  3          0          Garlic Powder
3         2       45918                  4          1         Coconut Butter
4         2       30035                  5          0      Natural Sweetener

   aisle_id  department_id  user_id eval_set  order_number  order_dow  \
0        86             16   202279    prior             3          5
1        83              4   202279    prior             3          5
2       104             13   202279    prior             3          5
3        19             13   202279    prior             3          5
4        17             13   202279    prior             3          5

   order_hour_of_day  days_since_prior_order
0                  9                     8.0
1                  9                     8.0
2                  9                     8.0
3                  9                     8.0
4                  9                     8.0

In [1]:
after_merge_there = pd.merge(after_merge_two, aisles, on=['aisle_id', 'aisle_id'])

NameError: name 'pd' is not defined

In [34]:
print("after merge size is {}".format(len(after_merge_there)))
print("after merge size of row is {}".format(after_merge_there.shape[0]))
print("after merge size of col is {}".format(after_merge_there.shape[1]))
print(after_merge_there.head(5))

after merge size is 32434489
after merge size of row is 32434489
after merge size of col is 14
   order_id  product_id  add_to_cart_order  reordered        product_name  \
0         2       33120                  1          1  Organic Egg Whites
1        26       33120                  5          0  Organic Egg Whites
2       120       33120                 13          0  Organic Egg Whites
3       327       33120                  5          1  Organic Egg Whites
4       390       33120                 28          1  Organic Egg Whites

   aisle_id  department_id  user_id eval_set  order_number  order_dow  \
0        86             16   202279    prior             3          5
1        86             16   153404    prior             2          0
2        86             16    23750    prior            11          6
3        86             16    58707    prior            21          6
4        86             16   166654    prior            48          0

   order_hour_of_day  days_since_prior_order aisle
0                  9                     8.0  eggs
1                 16                     7.0  eggs
2                  8                    10.0  eggs
3                  9                     8.0  eggs
4                 12                     9.0  eggs