In [3]:
import math
import numpy as np
import pandas as pd

In [4]:
data_length = 30
column_size = math.ceil((data_length-1) ** 0.5)
row_size = math.ceil((data_length-1) / column_size)
df = pd.DataFrame(np.arange(row_size*column_size).reshape((row_size,column_size)),index=np.arange(row_size),columns=np.arange(column_size))

In [5]:
df

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29